<%-include("partials/header")-%>

<h1>Home</h1>

<p><%=homeStartingContent%></p>
<%posts.forEach(function(i) {%>
    <h1><%=i.Title %></h1>
    <p><%=i.Body.substring(0,100)+"...."%>
    <a href="/posts/<%=i._id%>">Read more</a>
    </p>
<%})%>
<%-include("partials/footer")-%> 